@import "_variaveis/cores";

// @media (max-width: 767.98px) {
//     .destaque {
//         height: 200px !important;
//     }
// }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: $white;
    font-family: 'Roboto', sans-serif;
}
.lista-tarefas {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #005499;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}